@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientShift 10s ease infinite;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }